@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: ui-sans-serif, system-ui, sans-serif;
    }
}

@layer utilities {
    .navbar {
        z-index: 1;
    }

    .tox.tox-silver-sink.tox-tinymce-aux {
        z-index: 200000 !important;
    }

    .Toastify__toast-container {
        z-index: 300000;
    }
}

